Repository Vyvy-vi/TearDrops, pull requests merged in 2020-12, with the labels that each got.

#155 feat: added xkcd command
  bot/cogs/comic_cog.py
  bot/main.py
Labels: build v1.1

#158 Added bot description and removed broken image
  README.md
Labels: bug, documentation, enhancement

#180 Feat: Multi-translate
  bot/cogs/help_cog.py
  bot/cogs/utils_cog.py
Labels: build v1.1, enhancement
